
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Grades</title>
</head>
<body>
<h1>My Grades</h1>
<table>
    <tr>
        <th>Subject</th>
        <th>Score</th>
        <th>Comment</th>
        <th>Date</th>
    </tr>
    <tr th:each="grade : ${grades}">
        <td th:text="${grade.subject.name}"></td>
        <td th:text="${grade.score}"></td>
        <td th:text="${grade.comment}"></td>
        <td th:text="${#dates.format(grade.date, 'yyyy-MM-dd')}"></td>
    </tr>
</table>
</body>
</html>